n8n-workflows/07_review_responder.json
{
  "name": "07_review_responder",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "id": "trigger",
      "name": "Called by Agent",
      "webhookId": "chat-review-responder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, system: 'You are the Customer Success Manager for ProFit Swimming Academy — a premium mobile swim school in Dubai and Baku where certified coaches travel to clients\\' private pools.\\n\\nYour job is to craft professional, warm responses to customer reviews on Google and Instagram.\\n\\nRules:\\n- For positive reviews (4-5 stars): Thank them sincerely, highlight a specific point they mentioned, invite them to refer friends/family.\\n- For negative reviews (1-3 stars): Empathize genuinely, address their specific concern, offer a concrete resolution (callback, free trial lesson, manager contact), never be defensive.\\n- Keep response under 200 characters.\\n- Match the tone to the platform (Google = professional, Instagram = friendly/casual).\\n- Sign off as \"ProFit Team\" or \"The ProFit Family\".\\n\\nAlways respond with valid JSON only — no markdown, no backticks.', messages: [{ role: 'user', content: 'Generate a response to this customer review:\\n\\nPlatform: ' + ($json.platform || $json.parameters?.platform || 'google') + '\\nRating: ' + ($json.rating || $json.parameters?.rating || 5) + '/5 stars\\nReviewer: ' + ($json.reviewer_name || $json.parameters?.reviewer_name || 'Customer') + '\\nReview: ' + ($json.review_text || $json.parameters?.review_text || $json.chatInput || 'Great service!') + '\\n\\nRespond with this exact JSON structure:\\n{\\n  \\\"response_text\\\": \\\"the review response, max 200 chars\\\",\\n  \\\"tone\\\": \\\"grateful/empathetic/professional/friendly\\\",\\n  \\\"follow_up_action\\\": \\\"none/send_dm/manager_callback/offer_trial/request_details\\\",\\n  \\\"priority\\\": \\\"low/medium/high/urgent\\\"\\n}' }] }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "id": "claude-response",
      "name": "Claude → Generate Response"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Called by Agent').first().json;\ntry {\n  const raw = $input.first().json.content[0].text;\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const response = JSON.parse(cleaned);\n  return [{ json: {\n    status: 'completed',\n    workflow: '07_review_responder',\n    platform: input.platform || input.parameters?.platform || 'google',\n    rating: input.rating || input.parameters?.rating || 5,\n    reviewer_name: input.reviewer_name || input.parameters?.reviewer_name || 'Customer',\n    review_text: input.review_text || input.parameters?.review_text || input.chatInput || 'Great service!',\n    response_text: response.response_text,\n    tone: response.tone,\n    follow_up_action: response.follow_up_action,\n    priority: response.priority,\n    completedAt: new Date().toISOString()\n  } }];\n} catch (e) {\n  const raw = $input.first().json.content?.[0]?.text || 'No content';\n  return [{ json: {\n    status: 'completed',\n    workflow: '07_review_responder',\n    content_raw: raw,\n    parse_note: 'Response was not valid JSON, returning raw text',\n    completedAt: new Date().toISOString()\n  } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300],
      "id": "format",
      "name": "Format → Output"
    }
  ],
  "connections": {
    "Called by Agent": { "main": [[{ "node": "Claude → Generate Response", "type": "main", "index": 0 }]] },
    "Claude → Generate Response": { "main": [[{ "node": "Format → Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}